
*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~
*/*/*/*/*/*~
*/*/*/*/*/*/*~

html/*.html
*/html/*.html
*/*/html/*.html
*/*/*/html/*.html
*/*/*/*/html/*.html
*/*/*/*/*/html/*.html

*.png
*/*.png
*/*/*.png
*/*/*/*.png
*/*/*/*/*.png
*/*/*/*/*/*.png
