*.aux
*.fdb_latexmk
*.fls
*.out
*.pdf
*.log
*.synctex.gz
*.autosave

*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~
*/*/*/*/*/*~
*/*/*/*/*/*/*~

html/*.html
*/html/*.html
*/*/html/*.html
*/*/*/html/*.html
*/*/*/*/html/*.html
*/*/*/*/*/html/*.html

*.png
*/*.png
*/*/*.png
*/*/*/*.png
*/*/*/*/*.png
*/*/*/*/*/*.png
