
*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~
*/*/*/*/*/*~
*/*/*/*/*/*/*~

html/*.html
*/html/*.html
*/*/html/*.html
*/*/*/html/*.html
*/*/*/*/html/*.html
*/*/*/*/*/html/*.html

html/*.png
*/html/*.png
*/*/html/*.png
*/*/*/html/*.png
*/*/*/*/html/*.png
*/*/*/*/*/html/*.png
